/*slider styls*/


.product_card__container__slider {
  grid-area: slider;
}

.product_card__container__slider {
  margin-top: 6.5rem;
}

.slick-list {
  display: flex;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin-top: 3rem;
  list-style: none;
}

.slick-dots button {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0;
  border: none;
  border-radius: 50%;
  padding: 0;
  display: block;
  background-color: aqua;
}

.slick-dots button:hover {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
}

.slick-dots li:nth-child(1) button {
  background-color: #181a1b;
  border: 1px solid #7b8188;
}

.slick-dots li:nth-child(2) button {
  background-color: #fff;
  margin-left: 0.5rem;
  border: 1px solid #7b8188;
}

.slick-dots li:nth-child(3) button {
  background-color: #ed3333;
  margin-left: 0.5rem;
  border: 1px solid #7b8188;
}

.slick-dots li:nth-child(4) button {
  background-color: #636d52;
  margin-left: 0.5rem;
  border: 1px solid #7b8188;
}
